// COLORS
$color1: #17D7A0;
$color1-dark: #21C797;
$color2: #1A374D;
$color3: #6998AB;
$color4: #B1D0E0;
$white: #fafafa;
$black: #0b0b0b;
$color-link: #0000EE;

// FONTS
$font1: 'Sora';
$font2: 'Paytone One';