@import '../abstracts/variables';


.open {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $color2;
  &__icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  .line {
    &1, &2, &3 {
      width: 2px;
      height: 30px;
      background: $color4;
    }
  }
}
}

.nav.isOpen {
  left: 40px;
}

.nav {
  position: absolute;
  top: 40px;
  left: -240px;
  min-width: 400px;
  background: $color2;
  color: $color3;
  transition: .3s;
  li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 5%;
  }
  a,
  a:visited,
  a:focus,
  a:focus-visible {
    font-size: clamp(18px,21px,1.2rem);
    color: $color3;
  }
  a:hover {
    color: $color4;
  }
}