@import '../abstracts/variables';

.open {
  min-width: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background: $color2;
  cursor: pointer;
  .line {
    &1, &2, &3 {
      width: 2px;
      height: 30px;
      background: $color4;
    }
  }
}

.isOpen {
  min-width: 400px;
  position: absolute;
  top: 40px;
  left: 40px;
}

nav {
  width: 0;
  background: $color2;
  color: $color3;
  li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 5%;
  }
  a,
  a:visited,
  a:focus,
  a:focus-visible {
    font-size: clamp(18px,21px,1.2rem);
    color: $color3;
  }
  a:hover {
    color: $color4;
  }
}