.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    padding: 2em 5%;
    background-color: $color2;
    color: $color1;

    &__heading {
        font-size: clamp(2em, 15vh, 3.4em);
        letter-spacing: 1.5px;
    }


    &__text {
        margin: 1.5em auto;
        font-size: clamp(1.8em, 5vh, 2.4em);
        color: $color3;
    }


    &__links {
        display: flex;
        flex-direction: column;
        font-size: clamp(1em, 3vh, 1.8em);
        line-height: 1.8em;
        color: $color4;

        a,
        a:hover,
        a:visited,
        a:active {
            color: $color4;
        }

    }


    &__icon {
        height: .8em;
        padding-right: 7px;
    }


    &__icon.phone-icon {
        position: relative;
        top: 3px;
        height: 1.2em;
    }


    .company-info {
        margin-top: 2em;
        color: $color3;
        list-style: none;
        line-height: 1.5em;


        &__label {
            font-size: 10px;
            color: $color3;
        }


        &__value {
            font-size: 11px;
            letter-spacing: 2px;
            color: $color3;
            font-weight: 400;
        }

    }

}